.mainClass {
    height: 500px;
    text-align: justify;
}

.mainClass > * {
    float: left;
    margin: 20px;
}

.mainClass > section:first-child {
    width: 55%;
}

.mainClass > section:last-child {
    width: 35%;
}

.mainClass section + section {
    width: 100%;
    margin-top: 70px;
    margin-left: 50px;
}

.mainClass + section {
    clear: both;
}

.pClass {
    margin-bottom: 40px;
}

@media all and (max-width: 900px) {

    .mainClass {
        text-align: left;
    }
    
    .mainClass > section:first-child {
        width: 100%;           
    }
    
    .mainClass > section:last-child {
        width: 100%;
    }

    .mainClass section + section {
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }
}